---
import Background from "../components/background/background.astro";
import Globals from "../components/globals/globals.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Globals />
  </head>
  <body>
    <Background>
      <h1>About</h1>
    </Background>
  </body>
</html>
