---
import Background from "../components/background/background.astro";
import Globals from "../components/globals/globals.astro";
import Navbar from "../components/navbar/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Globals />
    <meta name="description" content="The Abyss" />
  </head>
  <body>
    <Navbar />
    <Background>
      <div class="fillerContainer"></div>
    </Background>
  </body>
</html>

<style lang="scss">
  .fillerContainer {
    height: 600lvh;
  }
</style>
