---
import Background from "../components/background/background.astro";
import Globals from "../components/globals/globals.astro";
import Navbar from "../components/navbar/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Globals />
    <meta
      name="description"
      content="Leon's contact information such as email, socials, and github"
    />
  </head>
  <body>
    <Navbar />
    <Background>
      <h1 class="pageName">Connect</h1>
      <div class="pageTextContainer">
        <h3 class="subHeader">Socials:</h3>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/leon-lenk/">Linkedin</a>
          </li>
          <li>
            <a href="https://github.com/leonlenk">Git Hub</a>
          </li>
          <li>
            <a
              href="https://scholar.google.com/citations?user=1HDLD-YAAAAJ&hl=en"
              >Google Scholar</a
            >
          </li>
          <li>
            <a href="me@leonlenk.com">Email</a>
          </li>
        </ul>
      </div>
    </Background>
  </body>
</html>

<style lang="scss">
  .subHeader {
    padding-bottom: 20px;
  }
</style>
