---
import Background from "../components/background/background.astro";
import Globals from "../components/globals/globals.astro";
import Navbar from "../components/navbar/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Globals />
    <meta
      name="description"
      content="Leon's contact information such as email, socials, and github"
    />
    <link rel="canonical" href="https://www.leonlenk.com/" />
  </head>
  <body>
    <Navbar />
    <Background>
      <h1 class="pageName">Contact Me</h1>
      <div class="pageTextContainer"></div>
    </Background>
  </body>
</html>
