---
import Background from "../components/background/background.astro";
import Globals from "../components/globals/globals.astro";
import Navbar from "../components/navbar/navbar.astro";
import { Image } from "astro:assets";
import bunnysuitImage from "../../public/index/bunnysuit.webp";
---

<!doctype html>
<html lang="en">
  <head>
    <Globals />
    <meta
      name="description"
      content="The landing page of Leon Lenk's personal website"
    />
    <link rel="canonical" href="https://www.leonlenk.com/" />
  </head>
  <body>
    <Navbar />
    <Background>
      <h1 class="namePlate">Welcome</h1>
      <div class="textContainer">
        <Image
          src={bunnysuitImage}
          alt="My bio pic :)"
          loading="eager"
          quality={100}
        />
        <p>
          Hi, I'm Leon. On the right is me wearing a bunny suit in a clean room.
          This is my personal website, as I'm sure you can guess from the
          domain. This is a place for me to aggregate all of my "intellectual"
          works. As you may notice my favorite topics are, in order, philosphy,
          machine learning, writing, math, and history. Excluding writing, which
          is given its own section, all of my articles on these can be found in
          my blog. Though I do not have it yet I would also like to one day add
          a recipe section as I quite like baking, though I am not so good at
          photography which is often just as important as the quality of the
          food. At any rate this website is (and probably will forever remain) a
          work in progress. I don't expect this site to get much traffic,
          however if you feel so impelled to give me feedback you can email me
          at me.leonlenk.com. Anyway take a look at my pages, I've put a decent
          amount of effort into this place, or if you feel so inclined take a
          look at my friends sites which will be linked at some point. Have fun
          and thank you for visiting.
        </p>
      </div>
    </Background>
  </body>
</html>

<style lang="scss">
  .namePlate {
    margin-top: 100px;
  }
  .textContainer {
    background-color: #2f0ac214;
    border-radius: 2rem;
    position: relative;
    z-index: 1;
    margin: 60px auto;
    margin-bottom: 160px;
    text-justify: inter-word;
    padding: 30px 40px;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px); /* For Safari compatibility */
    max-width: 60ch;
    min-width: 20ch;
    height: 100%;
    line-height: 1.6;
  }

  .textContainer img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 9px;
    float: right;
  }

  @media (max-width: 768px) {
    .textContainer {
      max-width: 80vw;
      background-color: transparent;
    }
  }
</style>
