---
import Background from "../components/background/background.astro";
import Globals from "../components/globals/globals.astro";
import Navbar from "../components/navbar/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Globals />
    <meta name="description" content="Leon's Poetry hub" />
  </head>
  <body>
    <Navbar />
    <Background />
  </body>
</html>
