#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 1000000;
}  

#footerImage {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#iconContainer {
    padding: 1vw;
    position: fixed;
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: row-reverse;
    gap: 2vw;
    bottom: 0;
} 

#socialIcon {
    font-size: 4vw;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    color: black;
}

#socialIcon:hover {
    color: #ffafcc;
}