* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
    // standardize fonts
    font-family: Ubuntu, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;

  background:
    radial-gradient(
      circle at 10% 69%,
      color-mix(in hsl, #01497c 40%, #0b0c2a00) 0%,
      #0b0c2a00 80%
    ),
    radial-gradient(
      circle at 87% 17%,
      color-mix(in srgb, #c9184a 23%, #0b0c2a00) 0%,
      #0b0c2a00 50%
    ),
    radial-gradient(
      ellipse at 50% 83%, 
      color-mix(in srgb, #b5179e 50%, #1b3a4b) 20%,
      #240046 85%
      );
      
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}