.title {
    text-align: center;
    font-size: 10vw;
}

.scrollableContainer {
    padding-bottom: 15vh;
}

.constellationContainer {
    display: flex;
    flex-flow: column;
}

.pawnContainer {
    max-width: 10vw;
}

.pawnSvgPath {
    stroke:#ffffff;
    stroke-width:2;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1
}

.pawnStars {
    width: 3vw;
    height: auto;
}