#title {
    text-align: center;
    font-size: 100px;
}

#pawn {
    max-width: 100%;
    width: 10%;
    height: auto;
    transform: rotate(35deg);
    margin-left: 400px;
    margin-right: auto;
}

#scrollableContainer {
    padding-bottom: 15%;
}