@keyframes animateStars {
    to {
      transform: rotate(720deg); 
    }
}

// Function to generate multiple text-shadow values for stars
@function multipleShadow($numberOfStars) {
    $value: "#{300 - random(600)}lvw #{300 - random(600)}lvh #FFF"; // Initial shadow
    @for $i from 2 through $numberOfStars {
        $value: "#{$value}, #{300 - random(600)}lvw #{300 - random(600)}lvh #FFF"; // Add more shadows
    }
    @return unquote($value); // Return the concatenated value
}

$smallShadows: multipleShadow(1200); // Small stars
$mediumShadows: multipleShadow(900); // Medium stars
$bigShadows: multipleShadow(600); // Big stars

.background {
    text-align: center;
    font-size: 10px;
    transform-origin: 50lvw 100lvh;
    text-shadow: $smallShadows; // Apply small star shadows
    animation: animateStars 180s linear infinite;
    &::after {
        text-shadow: $smallShadows; // Apply small star shadows to pseudo-element
    }
}

.midground {
    text-align: center;
    font-size: 20px;
    transform-origin: 50lvw 100lvh;
    text-shadow: $mediumShadows; // Apply medium star shadows
    animation: animateStars 300s linear infinite;
    &::after {
        text-shadow: $mediumShadows; // Apply medium star shadows to pseudo-element
    }
}  

.foreground {
    text-align: center;
    font-size: 25px;
    transform-origin: 50lvw 100lvh;
    text-shadow: $bigShadows; // Apply big star shadows
    animation: animateStars 400s linear infinite;
    &::after {
        text-shadow: $bigShadows; // Apply big star shadows to pseudo-element
    }
}

.moon{
    width: 8vmax;
    height: auto;
    z-index: 1;
    position: absolute;
    left: 10lvw;
    top: 90lvh;
    transform-origin: 40lvw 80lvh;
    animation: animateStars 700s linear infinite;
}

.starContainer {
    right: 0;
    bottom: 0lvh;
    width: 100lvw;
    height: 100lvh;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
}