@keyframes animateStars {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);    }
}
  
// Function to generate multiple box-shadow values for stars
@function multipleShadow($numberOfStars) {
$value: "#{random(100)}vw #{random(200)}vh #FFF"; // Initial shadow
@for $i from 2 through $numberOfStars {
    $value: "#{$value}, #{random(100)}vw #{random(200)}vh #FFF"; // Add more shadows
}
@return unquote($value); // Return the concatenated value
}

$smallShadows: multipleShadow(1000); // Small stars
$mediumShadows: multipleShadow(400); // Medium stars
$bigShadows: multipleShadow(200); // Big stars

#background {
width: 0.07vw;
height: 0.07vw;
box-shadow: $smallShadows; // Apply small star shadows
animation: animateStars 50s linear infinite;
&::after {
    box-shadow: $smallShadows; // Apply small star shadows to pseudo-element
}
}

#midground {
width: 0.15vw;
height: 0.15vw;
box-shadow: $mediumShadows; // Apply medium star shadows
animation: animateStars 100s linear infinite;
&::after {
    width: 2px;
    height: 2px;
    box-shadow: $mediumShadows; // Apply medium star shadows to pseudo-element
}
}  

#foreground {
width: .3vw;
height: .3vw;
box-shadow: $bigShadows; // Apply big star shadows
animation: animateStars 150s linear infinite;
&::after {
    width: 3px;
    height: 3px;
    box-shadow: $bigShadows; // Apply big star shadows to pseudo-element
}
}
