@keyframes animateStars {
    to {
      transform: rotate(720deg); 
    }
}

// Function to generate multiple text-shadow values for stars
@function multipleShadow($numberOfStars) {
    $value: "#{random(200)}vw #{random(200)}vh #FFF"; // Initial shadow
    @for $i from 2 through $numberOfStars {
        $value: "#{$value}, #{300 - random(600)}vw #{300 - random(600)}vh #FFF"; // Add more shadows
    }
    @return unquote($value); // Return the concatenated value
}

$smallShadows: multipleShadow(1200); // Small stars
$mediumShadows: multipleShadow(900); // Medium stars
$bigShadows: multipleShadow(600); // Big stars

.background {
    text-align: center;
    font-size: 10px;
    transform-origin: 50vw 120vh;
    text-shadow: $smallShadows; // Apply small star shadows
    animation: animateStars 180s linear infinite;
    &::after {
        text-shadow: $smallShadows; // Apply small star shadows to pseudo-element
    }
}

.midground {
    text-align: center;
    font-size: 20px;
    transform-origin: 50vw 120vh;
    text-shadow: $mediumShadows; // Apply medium star shadows
    animation: animateStars 300s linear infinite;
    &::after {
        text-shadow: $mediumShadows; // Apply medium star shadows to pseudo-element
    }
}  

.foreground {
    text-align: center;
    font-size: 25px;
    transform-origin: 50vw 120vh;
    text-shadow: $bigShadows; // Apply big star shadows
    animation: animateStars 400s linear infinite;
    &::after {
        text-shadow: $bigShadows; // Apply big star shadows to pseudo-element
    }
}

.starContainer {
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
}