---
import styles from "./background.module.scss";
import Stars from "./stars.astro";
import Globals from "../globals/globals.astro";
---

<Globals />
<div class="backgroundContainer">
  <Stars />
  <slot />
</div>

<style lang="scss">
  .backgroundContainer {
    background: (
      linear-gradient(to bottom right, #0f0f2dcf 50%, #5d0f4a67 95%),
      radial-gradient(
        circle at top left,
        #78133d 0%,
        #0f0f2d 50%,
        #000000 100%
      ),
      radial-gradient(
        circle at bottom right,
        #6a07ffcb 0%,
        #220f2d 50%,
        #000000 100%
      ),
      radial-gradient(
        circle at top right,
        #0852eff7 0%,
        #1f369c 50%,
        #000000 100%
      )
    );
    display: flow-root;
    position: relative;
    isolation: isolate;
    width: 100%;
    background-size: 100% 200vh;
    background-repeat: no-repeat;

    box-sizing: border-box;
    background-attachment: fixed;
  }
</style>
